.nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:2% 5%;
}
.left > h1{
    font-size: 35px;
}

.flex {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 20px;
}


.link:hover {
background-color: orangered;
cursor: pointer;

}
.link{
  padding: 8px;
  border-radius: 5px;
}
.link:active {
  background-color: orangered;
  cursor: pointer;
  }