.name {
  color: orangered;
}

.container {
  width: 100%;
  display: flex;
  padding: 3% 6%;
  margin-top: 1.5%;
}
.left-box {
  width: 29%;
  margin-top: 4%;
}

.middle-box {
  width: 42%;
  height: 100%;
  background-position: center;
  background-size: cover;
  padding-right: 110px;
  padding-left: 40px;
}
.middle-box > img {
  height: 600px;
  width: 100%;
  transform: translateY(-5%);
}

.right-box {
  width: 29%;
  margin-top: 4%;

}

.left-box > h1 {
  font-size: 46px;
}
.left-box > p {
  font-size: 20px;
}
.flex > button {
  background-color: orangered;
  border: 1px solid black;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 60px;
  font-size: 20px;
}

.right-box > p {
  font-size: 30px;
}

.icons{
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-top: 20px;
  font-size:20px ;
}
a{
  text-decoration: none;
  color:rgba(255, 255, 255, 0.879);